@font-face {
  font-family: "28 Days Later Cyr Regular";
  font-display: swap;
  src: url("../fonts/28 Days Later Cyr Regular.woff") format("woff"), url("../fonts/28 Days Later Cyr Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Copperplate";
  font-display: swap;
  src: url("../fonts/Copperplate.woff") format("woff"), url("../fonts/Copperplate.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PF Playskool Pro 3D Regular";
  font-display: swap;
  src: url("../fonts/PF Playskool Pro 3D Regular.woff") format("woff"), url("../fonts/PF Playskool Pro 3D Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Runic Regular";
  font-display: swap;
  src: url("../fonts/Runic Regular.woff") format("woff"), url("../fonts/Runic Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Zanesennyj Regular";
  font-display: swap;
  src: url("../fonts/Zanesennyj Regular.woff") format("woff"), url("../fonts/Zanesennyj Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-size: 16px;
}

h1 {
  font-size: 39px;
  color: #5f2525;
}

.header {
  background-color: aquamarine;
}

.wer {
  height: 300px;
  width: 300px;
  font-size: 33px;
  background-image: url("../img/3www.png");
}

div {
  background-image: url("../img/3www.png");
}

.webp .wer { background-image: url(../img/3www.webp); }

.webp div { background-image: url(../img/3www.webp); }