// Мексин подл шрифтов
@mixin font($font_name, $file_name, $weight, $style) {
  @font-face { font-family: $font_name; font-display: swap; src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2"); font-weight: #{$weight}; font-style: #{$style}; }
  
  }
  //
  

@import "fontsRun";

body{
  font-size: 16px;
 
}

h1{
  font-size: 39px;
  color: rgb(95, 37, 37);
}
.header{
  background-color: aquamarine;
}

.wer{
  height: 300px;
  width: 300px;
  font-size: 33px;
  background-image: url("../img/3www.png");
  // background-color: rgb(241, 213, 54);
}
div {
  background-image: url("../img/3www.png");
}