@font-face {
  font-family: "Copperplate";
  font-display: swap;
  src: url("../fonts/Copperplate.woff") format("woff"), url("../fonts/Copperplate.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  font-size: 16px;
}

h1 {
  font-size: 39px;
  color: #5f2525;
}

.header {
  background-color: aquamarine;
}

.wer {
  height: 300px;
  width: 300px;
  font-size: 33px;
  background-image: url("../img/3www.png");
}

div {
  background-image: url("../img/3www.png");
}

.webp .wer { background-image: url(../img/3www.webp); }

.webp div { background-image: url(../img/3www.webp); }